.finalCalcResult {
    background-color: #3f51b5;
    margin: 6px 6px;
    padding: 12px;
    font-size: 15px;
    align-self: flex-start;
    width: 420px;
    color: #fff;
    border-radius: 9px;
}

.shop-rate {
    padding: 10px;
}
